.calc_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
  align-items: center;
}

.results_container {
}

.side_container {
  flex: 1;
  height: 15vh;
}

.inputs_container {
  display: flex;
  width: 100%;
  background: sandybrown;
}

.error_display {
  color: red;
  font-weight: bold;
  font-size: 1.25em;
}
